* {
  margin: 0;
  box-sizing: border-box;
}

.options {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 4rem;
}

.header {
  text-align: center;
  padding: 4rem 0 5rem;
}

.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
}

.header__line {
  width: 64px;
  height: 2px;
  margin: 1.9rem auto;
}

.header__line_background_orange {
  background-color: orange;
}

.header__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.rates {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rate__list {
  width: 33%;
  max-width: 343px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.m-lr-3rem {
  margin: 0 3rem;
}

.rate__item_gray {
  background-color: #282f2f;
  color: white;
}

.rate__item_level {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.7rem 0;
  margin-bottom: 1px;
}

.rate__item_f-size {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1px;
  line-height: 1;
  padding-bottom: 3px;
}

.dollar {
  font-size: 2rem;
}

.rate__item_white {
  background-color: white;
  color: #86878b;
  text-transform: uppercase;
  padding: 0.6rem 0;
  margin-bottom: 1px;
}

.item-payment {
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.9rem 0;
}

.rate__item_border-bottom {
  border-bottom: 5px solid orange;
}

.rate__item_popular {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: orange;
  padding: 0.6rem 0;
}

.font-color_gray {
  color: #86878b;
}
